Source: dsc-datatool
Section: perl
Priority: optional
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libmodule-find-perl,
 libxml-libxml-simple-perl, libyaml-tiny-perl, libcommon-sense-perl
Standards-Version: 3.9.4
Homepage: https://www.dns-oarc.net/oarc/data/dsc
Vcs-Git: https://github.com/DNS-OARC/dsc-datatool.git
Vcs-Browser: https://github.com/DNS-OARC/dsc-datatool

Package: dsc-datatool
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libyaml-tiny-perl,
 libdsc-datatoool-perl
Suggests: dsc
Description: Export DSC data to other formats and/or databases
 Tool for converting, exporting, merging and transforming DSC data.

Package: libdsc-datatool-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libmodule-find-perl,
 libxml-libxml-simple-perl, libcommon-sense-perl
Recommends: dsc-datatool
Description: Perl library for dsc-datatool
 Perl library for dsc-datatool; A tool for converting, exporting, merging
 and transforming DSC data.
